/*GENERAL*/
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}
body::before {
  content: "";
  position: fixed;
  background: #040404 url("../assets/img/LandingPage-BG.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

.page-section {
  height: 100vh;
}

/*NAVBAR----------------------*/
.navbar-container {
  background-color: black;
  border-bottom: 2px solid #80c6ff;
  border-top: 2px solid #80c6ff;
  box-shadow: 0px 0px 25px -2px #80c6ff;
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.Navbar-contents {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px 11.5%;
  padding: 15px 100px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 22px;
  color: #FFF1F4;
  white-space: nowrap;
}
.Navbar-contents .button {
  display: flex;
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  background: rgb(58, 165, 253);
  overflow: hidden;
}
.box:before {
  content: "";
  position: absolute;
  top: 0;
  background: #353564;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}
.box:nth-child(1)::before {
  content: "A";
}
.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: "D";
}
.box:nth-child(3)::before {
  content: "M";
}
.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: "E";
}
.box:nth-child(5)::before {
  content: "R";
}

.button:hover .box:before {
  transform: translateY(0);
}

.c-button {
  color: #000;
  font-weight: 900;
  font-size: 12px;
  text-decoration: none;
  padding: 0.8em 1.4em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #06c8d9;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #06c8d9;
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #06c8d9;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

/*LANDING PAGE-------------------*/
.NameSign {
  text-align: center;
  padding-top: 20%;
  position: relative;
}
.NameSign span {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 50px;
  letter-spacing: 5px;
}
.NameSign span:nth-child(1) {
  color: #fff;
  -webkit-text-stroke: 0.3px rgb(128, 198, 255);
}
.NameSign span:nth-child(2) {
  color: rgb(128, 198, 255);
  -webkit-text-stroke: 1px rgb(128, 198, 255);
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
#nametext {
  text-align: center;
  padding-top: 3%;
  color: #80c6ff;
}

#TextUnderName {
  text-align: center;
  font-size: 24px;
  padding: 5%;
  color: rgba(255, 255, 255, 0.8);
}
#TextUnderName span {
  color: #fff;
  border-bottom: 2px solid #80c6ff;
  padding-bottom: 4px;
}

#Contentcontainer {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  gap: 20px;
  /*.cardbg{
      background: url(../assets/img/blurry-BG.jpg) no-repeat;
      background-size: cover;
  }*/
}
#Contentcontainer .containercard {
  width: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 1rem;
  background: #80c6ff;
  background: linear-gradient(to left, #80c6ff 0%, #1a98ff 100%);
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 25px -2px #80c6ff;
}
#Contentcontainer .containercard::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #80c6ff;
  background: linear-gradient(to left, #80c6ff 0%, #1a98ff 100%);
  transition: opacity 0.5s;
}
#Contentcontainer .containercard:hover::after {
  opacity: 0;
}
#Contentcontainer .containercard:hover .card-info {
  color: #80c6ff;
  transition: color 1s;
}
#Contentcontainer .card-info {
  background: #181818;
  color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  overflow: hidden;
}
#Contentcontainer .title {
  font-weight: bold;
  letter-spacing: 0.1em;
}
#Contentcontainer .glow-button {
  border: 0.25em solid white;
  padding: 1em 3em;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #1a98ff;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em white, 0 0 4em 1em rgba(128, 198, 255, 0.7), inset 0 0 0.75em 0.25em white;
  text-shadow: 0 0 0.5em white;
  position: relative;
  transition: all 0.3s;
}
#Contentcontainer .glow-button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 198, 255, 0.7);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#Contentcontainer .glow-button:hover {
  color: #1a98ff;
  background-color: white;
  box-shadow: 0 0 1em 0.25em white, 0 0 4em 2em rgba(128, 198, 255, 0.7), inset 0 0 0.75em 0.25em white;
}
#Contentcontainer .glow-button:active {
  box-shadow: 0 0 0.6em 0.25em white, 0 0 2.5em 2em rgba(128, 198, 255, 0.7), inset 0 0 0.5em 0.25em white;
}

#about {
  position: relative;
  box-shadow: 0px 0px 25px -2px #80c6ff;
  overflow: hidden;
}

#about::after {
  content: "";
  background: url("../assets/img/blurry-BG.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#abouttitle {
  font-size: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #80c6ff;
}

#aboutme-content {
  display: flex;
  justify-content: center;
  padding-top: 15%;
  gap: 10px;
}

/*2st*/
.midcard {
  width: 420px;
  height: 420px;
  background: url("../assets/img/benim-cutout.png") no-repeat;
  background-size: cover;
  background-position: 30% 70%;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
}
.midcard:hover {
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  background: rgb(103, 151, 255);
}
.midcard:hover .first-content {
  height: 0px;
  opacity: 0;
}
.midcard:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}
.midcard .first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}
.midcard .second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

/*3nd*/
.card-container {
  width: 420px;
  height: 420px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: url(../assets/img/blurry-BG.jpg);
  background-size: cover;
}
.card-container .card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-container .card .front-content,
.card-container .card .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-container .card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: #80c6ff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-container .card .content {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  background: #80c6ff;
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(96%);
}
.card-container .card .content .heading {
  font-size: 32px;
  font-weight: 700;
}
.card-container .card:hover .content {
  transform: translateY(0);
}
.card-container .card:hover .front-content {
  transform: translateY(-30%);
}
.card-container .card:hover .front-content p {
  opacity: 0;
}

/*PROJECTS--------------*/
#Projects {
  position: relative;
  box-shadow: 0px 0px 25px -2px #80c6ff;
  overflow: hidden;
}

#Projects::after {
  content: "";
  background: url("../assets/img/blurry-BGpurp.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
