@page
@model IndexModel


<section class="page-section" id="LandingPage" style="border: 1px solid white;">
    <div class="container">
        <div class="NameSign">
            <span>ALEX ADMÉR</span>
            <span>ALEX ADMÉR</span>
        </div>
        <h5 id="nametext">portfolio</h5>
        <h2 id="TextUnderName">I'm a future <span>.NET Developer</span> from Stockholm, Sweden</h2>

        <div id="Contentcontainer">
            <div class="card">
                <div class="card-info">
                    <a href="#" class="glow-button" role="button">About</a>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <a href="#" class="glow-button" role="button">Projects</a>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <a href="#" class="glow-button" role="button">Button</a>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <a href="#" class="glow-button" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="page-section" id="about" style="border: 1px solid white;">
    <div class="container">
    </div>
</section>

<section class="page-section" id="Projects">
    <div class="container" style="border: 1px solid white;">
    </div>
</section>