@page
@model IndexModel


<section class="page-section" id="LandingPage">
    <div class="container">
        <div class="NameSign">
            <span style="font-size: 50px;">ALEX ADMÉR</span>
            <span style="font-size: 50px;">ALEX ADMÉR</span>
        </div>
        <h5 id="nametext">portfolio</h5>
        <h2 id="TextUnderName">I'm a future <span>.NET Developer</span> from Stockholm, Sweden</h2>

        <div id="Contentcontainer">
            <div class="containercard">
                <div class="card-info cardbg">
                    <a href="#" class="glow-button" role="button">About</a>
                </div>
                
            </div>
            <div class="containercard">
                <div class="card-info">
                    <a href="#" class="glow-button" role="button">Projects</a>
                </div>
            </div>
            <div class="containercard">
                <div class="card-info">
                    <a href="#" class="glow-button" role="button">Button</a>
                </div>
            </div>
            <div class="containercard">
                <div class="card-info">
                    <a href="#" class="glow-button" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="page-section" id="about">
    <div class="container">

        <div class="NameSign">
            <span id="title">About Me</span>
            <span id="title">About Me</span>
        </div>
        <div id="aboutme-content">
            
            @*1*@
            <div class="card-container">
                <div class="card">
                    <div class="front-content">
                        <p>Hover me</p>
                    </div>
                    <div class="content">
                        <p class="heading">Card Hover</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipii
                            voluptas ten mollitia pariatur odit, ab
                            minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                            necessitatibus dignissimos molestias.
                        </p>
                    </div>
                </div>
            </div>

            @*2*@
            <div class="midcard">
                <div class="first-content">
                    <span></span>
                </div>
                <div class="second-content">
                    <span>benim e single walla... 072 965 65 59</span>
                </div>
            </div>
            
            @*3*@
            <div class="card-container">
                <div class="card">
                    <div class="front-content">
                        <p>Hover me</p>
                    </div>
                    <div class="content">
                        <p class="heading">Card Hover</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipii
                            voluptas ten mollitia pariatur odit, ab
                            minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                            necessitatibus dignissimos molestias.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="page-section" id="Projects">

    <div class="container">

        <div class="NameSign">
            <span id="title">My Projects</span>
            <span id="title">My Projects</span>
        </div>

        <div class="projectcontainer">

            <div class="card">
                <a href="#modal1" class="modal-trigger">
                    <div class="card1"></div>
                </a>
            </div>

            <div class="card">
                <a href="#modal2" class="modal-trigger">
                    <div class="card2"></div>
                </a>
            </div>

            <div class="card">
                <a href="#modal3" class="modal-trigger">
                    <div class="card3"></div>
                </a>
            </div>

        </div>
        
        <div id="modal1" class="modal">
            <!-- Add your project details here -->
            <h2>Project 1</h2>
            <p>Description of Project 1</p>
            <a href="#" class="modal-close">Close</a>
        </div>

        <div id="modal2" class="modal">
            <!-- Add your project details here -->
            <h2>Project 2</h2>
            <p>Description of Project 2</p>
            <a href="#" class="modal-close">Close</a>
        </div>

        <div id="modal3" class="modal">
            <!-- Add your project details here -->
            <h2>Project 3</h2>
            <p>Description of Project 3</p>
            <a href="#" class="modal-close">Close</a>
        </div>

    </div>
</section>

<section class="page-section" id="skills">
    <div class="NameSign">
        <span id="title">Skills</span>
        <span id="title">Skills</span>
    </div>
    
    <div class="skillscontainer">
        
        <div class="skillcard-container">
            <div class="skillcard">
                <div class="skillfront-content">
                    <p>c#</p>
                </div>
                <div class="skillcontent">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipii
                        voluptas ten mollitia pariatur odit, ab
                        minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                        necessitatibus dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="skillcard-container">
            <div class="skillcard">
                <div class="skillfront-content">
                    <p>c#</p>
                </div>
                <div class="skillcontent">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipii
                        voluptas ten mollitia pariatur odit, ab
                        minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                        necessitatibus dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="skillcard-container">
            <div class="skillcard">
                <div class="skillfront-content">
                    <p>c#</p>
                </div>
                <div class="skillcontent">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipii
                        voluptas ten mollitia pariatur odit, ab
                        minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                        necessitatibus dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="skillcard-container">
            <div class="skillcard">
                <div class="skillfront-content">
                    <p>c#</p>
                </div>
                <div class="skillcontent">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipii
                        voluptas ten mollitia pariatur odit, ab
                        minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                        necessitatibus dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>
        

    </div>

</section>

<section class="page-section" id="References">
    <div class="NameSign">
        <span id="title">References</span>
        <span id="title">References</span>
    </div>

</section>


<section class="page-section" id="Contact">
    <div class="NameSign">
        <span id="title">Contact Me</span>
        <span id="title">Contact Me</span>
    </div>

</section>

   








